# Force Windows line endings for typical UE/VS workflow
*.h   text eol=crlf
*.hpp text eol=crlf
*.cpp text eol=crlf
*.cs  text eol=crlf
*.ini text eol=crlf

# Never normalize binary assets
*.uasset binary
*.umap   binary
